:root {
    --button-background-color: #596d48;
    --input-border-color: #e5e7eb;
    --span-font-color: #596d48;
}

@font-face {
    font-family: "Norse-Bold";
    src: url("./assets/Norse-Bold.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: sans-serif;
}

#image-container {
    --image-container-height: 100vh;
    height: var(--image-container-height);
    width: 35%;
    object-fit: cover;
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash-small.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: calc(var(--image-container-height) * 0.3);
    padding-bottom: calc(var(--image-container-height) * 0.02);
}

#logo {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: "Norse-Bold", sans-serif;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 100px;
}

#image-container p {
    color: white;
    text-align: center;
}

#image-container a {
    color: inherit;
}

#form-container {
    background-color: #eee;
    padding-top: 150px;
}

#form-container > :not(form) {
    margin-left: 50px;
}

#form-container > p:not(:last-child) {
    font-size: 1.5rem;
    font-weight: 600;
    width: min(60%, 715px);
    margin-bottom: 40px;
}

#form {
    background-color: white;
    padding-top: 25px;
    padding-left: 50px;
    height: 40%;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px lightgray;
}

#form p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

#form label {
    font-size: 0.8rem;
    font-weight: 600;
    color: #333
}

#form input {
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    display: inline-block;
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 1.2rem;
}

#form .container {
    display: flex;
}

#form .container .left {
    margin-right: 100px;
}

#form-container button {
    font-size: 1.2rem;
    color: white;
    padding: 15px 40px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--button-background-color);
    box-shadow: 5px 5px 5px lightgray;
}

#form-container p:last-child {
    font-size: 1.15rem;
}

#form-container p:last-child span {
    margin-left: 5px;
    font-weight: 600;
    color: var(--span-font-color)
}