:root {
    --main-color: #596d48;
    --input-border-color: #e5e7eb;
}

@font-face {
    font-family: "Norse-Bold";
    src: url("./assets/Norse-Bold.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: sans-serif;
}

#image-container {
    --image-container-height: 100vh;
    height: var(--image-container-height);
    width: 35%;
    object-fit: cover;
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash-small.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: calc(var(--image-container-height) * 0.3);
    padding-bottom: calc(var(--image-container-height) * 0.02);
}

#logo {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: "Norse-Bold", sans-serif;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    width: 100px;
}

#image-container p {
    color: white;
    text-align: center;
}

#image-container a {
    color: inherit;
}

#form-container {
    background-color: #eee;
    padding-top: 200px;
}

#form-container > :not(form) {
    margin-left: 50px;
}

#form-container > p:not(:last-child) {
    font-size: 1.5rem;
    font-weight: 600;
    width: 60%;
    margin-bottom: 40px;
}

#form {
    background-color: white;;
    padding-left: 50px;
    height: 40%;
}

#form p {
    font-size: 1.5rem;
    font-weight: 600;
}

#form label {
    font-size: 0.7rem;
    color: #333
}

#form input {
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    padding: 5px 0;
}
